apiVersion: v1
kind: ConfigMap
metadata:
  name: open5gs-udr-config
  labels:
    epc-mode: udr
data:
  udr.yaml: |
    #logger:
      #file: /var/log/open5gs/udr.log
    db_uri: mongodb://mongodb-svc/open5gs
    udr:
      sbi:
      - addr: 0.0.0.0
        advertise: open5gs-udr
    nrf:
     sbi:
      name: open5gs-nrf  
