apiVersion: v1
kind: ConfigMap
metadata:
  name: open5gs-amf-config
  labels:
    epc-mode: amf
    version: v2
data:
  amf.yaml: |
    amf:
        sbi:
        - addr: 0.0.0.0
          advertise: open5gs-amf
        ngap:
          dev: {{ .Values.k8s.interface }}
        guami:
          - plmn_id:
              mcc: {{ .Values.amf.mcc }}
              mnc: {{ .Values.amf.mnc }}
            amf_id:
              region: 2
              set: 1
        tai:
          - plmn_id:
              mcc: {{ .Values.amf.mcc }}
              mnc: {{ .Values.amf.mnc }}
            tac: {{ .Values.amf.tac }}
        plmn_support:
        - plmn_id:
            mcc: {{ .Values.amf.mcc }}
            mnc: {{ .Values.amf.mnc }}
          s_nssai:
          - sst: 1
        security:
            integrity_order : [ NIA2, NIA1, NIA0 ]
            ciphering_order : [ NEA0, NEA1, NEA2 ]
        network_name:
            full: Open5GS
        amf_name: open5gs-amf
    nrf:
     sbi:
       name: open5gs-nrf
